/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius:2rem;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: rgba(96, 166, 228, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.weather-info {
    margin-top: 20px;
}

#location {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#getWeather {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#getWeather:hover {
    background-color: #0056b3;
}

#weatherDetails {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}
